@import "tailwindcss";

@theme {
  --font-sans: "Roboto", sans-serif;
  --font-kantumruy: "Kantumruy Pro", sans-serif;
}

/* Minimalist Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #EEEEEE; 
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #CBCBCB; 
}